// IMPORT
@import 'vars';
@import 'fonts';
@import 'global';


.breadcrumbs~.spacing:first-of-type {
    padding-top: 0px !important;
}

.breadcrumbs {
    padding: 60px 0 20px;

    &__inner {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        font-weight: 500;
        font-size: 15px;
    }

    &__link {
        position: relative;
        padding-right: 15px;
        transition: all 0.1s;

        @media (any-hover: hover) {
            &:hover {
                color: $main;
            }
        }

        &::after {
            content: '/';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__current {
        color: #891f7f;
    }

}

.tabs {
    margin: 20px 0 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

    &__item {
        padding: 12px 24px;
        border-radius: 30px;
        color: $text;
        border: 1px solid $main;
        background-color: #fff;
        @extend %center;
        height: 45px;
        transition: all 0.2s;
        color: $main;

        &:not(.active):hover {
            background-color: $main;
            color: #fff;
        }

        &.active {
            background: $main;
            color: #fff;
            @extend %hover;
        }
    }

    &__more {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background-color: $main;
        @extend %center;
        @extend %hover;
    }

    &__content {
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;

        &:has(.swiper) {
            min-width: 0;
        }

        &.active {
            grid-template-rows: 1fr;
        }
    }

    &__wrapper {
        min-height: 0;
    }

}

.title {
    font-size: 60px;
    font-weight: 600;
}

.text {
    color: #bdbdbd;
    margin-top: 12px;
}

.spacing {
    padding: 70px 0;
}

.btn {
    @extend %center;
    width: fit-content;
    transition: all 0.2s ease;
    text-align: center;
    position: relative;
    color: #fff;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 64px;
    font-size: 18px;
    font-weight: 500;
    &--main {
        background-color: $main;
        color: #fff;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            pointer-events: none;
        }

        &::before {
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
            transition: 0.5s ease-in-out;
        }

        &:hover::before {
            left: 100%;
        }
    }

    &--animated {
        background-color: $main;
        color: #fff;
        transition: all 0.2s;

        &::before {
            content: "";
            display: block;
            width: 50px;
            height: 120%;
            background-image: -webkit-gradient(linear, left top, right top, from(rgba(250, 255, 255, 0)), color-stop(50%, rgba(250, 255, 255, 0.6)), to(rgba(250, 255, 255, 0)));
            background-image: -o-linear-gradient(left, rgba(250, 255, 255, 0) 0%, rgba(250, 255, 255, 0.6) 50%, rgba(250, 255, 255, 0) 100%);
            background-image: linear-gradient(to right, rgba(250, 255, 255, 0) 0%, rgba(250, 255, 255, 0.6) 50%, rgba(250, 255, 255, 0) 100%);
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(0, -50%) skew(-255deg);
            -ms-transform: translate(0, -50%) skew(-255deg);
            transform: translate(0, -50%) skew(-255deg);
            z-index: 1;
            pointer-events: none;
            -webkit-animation: blinkAnimation 4s ease-in-out infinite;
            animation: blinkAnimation 4s ease-in-out infinite;
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            pointer-events: none;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
            transition: 0.5s ease-in-out;
        }

        &:hover::after {
            left: 100%;
        }

        &:hover {
            &::before {
                visibility: hidden;
                opacity: 0;
            }
        }


    }

    &--outline {
        border: 1px solid $main;
        color: $main;

        &:hover {
            background-color: $main;
            color: #fff;
        }
    }

    &--grey {
        border: 1px solid $grey;
        background-color: $grey;
        color: #fff;
        box-shadow: 0 0 5px rgba(#000, 0.10);

        &:hover {
            background-color: $text;
            color: #fff;
        }
    }

    &--white {
        border: 1px solid #fff;
        background-color: #fff;
        color: $main;
        box-shadow: 0 0 5px rgba(#000, 0.10);

        &:hover {
            background-color: $main;
            color: #fff;
        }
    }

    &--black {
        border: 1px solid $text;
        color: #fff;
        background-color: $text;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            pointer-events: none;
        }

        &::before {
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
            transition: 0.5s ease-in-out;
        }

        &:hover::before {
            left: 100%;
        }
    }

    &--center {
        display: flex;
        width: fit-content;
        margin: auto;
        padding: 12px 50px;
    }


    &:disabled {
        cursor: not-allowed;
        filter: grayscale(100%);

        @media (any-hover: hover) {
            &:hover {
                filter: grayscale(100%);
                background-color: $main;

                &::after,
                &::before {
                    display: none;
                }
            }
        }
    }

}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__policy {
        font-size: 14px;
        text-align: left;

        a {
            text-decoration: underline;
            @extend %color;
            display: inline;
        }
    }

    &__confirm {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: start;
        gap: 12px;
    }

    &__item {
        position: relative;

        img {
            position: absolute;
            z-index: 1;
            top: 50%;
            height: 18px;
            object-fit: contain;
            transform: translateY(-50%);
            left: 20px;
            border-right: 1px solid $main;
            padding-right: 7px;
            filter: grayscale(100%) opacity(0.5);
        }

        input {
            padding-left: 60px;
        }

        &:has(input:focus),
        &:has(input:hover) {
            img {
                filter: grayscale(0%);
            }
        }
    }

    .btn {
        width: 100%;
    }
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(#000, 0.3);
    backdrop-filter: blur(5px);
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;

    &.active {
        visibility: visible;
        opacity: 1;

        .modal__inner {
            visibility: visible;
            opacity: 1;
            scale: 1;
        }
    }

    &__inner {
        width: 540px;
        border-radius: 32px;
        visibility: hidden;
        scale: 0;
        opacity: 0;
        background: #FFF;
        padding: 60px;
        text-align: center;
        position: relative;
    }

    .btn {
        width: 100%;
    }

    &__close {
        height: 22px;
        width: 22px;
        object-fit: contain;
        position: absolute;
        right: 20px;
        top: 20px;
        @extend %hover;
    }

    input {
        background: #F6F6F6;
    }

    &__text {
        margin: 16px 0 32px;
        color: $grey;
    }

    &__title {
        font-size: 32px;
    }
}

.head{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 24px;
    align-items: end;
}

.arrow {
    height: 40px;
    width: 40px;
    @extend %center;
    border-radius: 50%;
    background-color: $main;
    transition: all 0.3s;
    path{
        transition: all 0.1s;
    }
    &:hover{
        background-color: #fff;
        path{
            stroke: #000;
        }    
    }
}


.custom-select {
    position: relative;
    width: 100%;
    @extend %selectHide;
    z-index: 2;

    &__current {
        padding: 10px;
        border: 1px solid #ccc;
        cursor: pointer;
        background-color: #fff;
        position: relative;
        z-index: 2;
        border-radius: 12px;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            height: 12px;
            width: 12px;
            background-image: url('../images/select-down.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    &__list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        list-style: none;
        padding: 0;
        border: 1px solid #ccc;
        border-top: none;
        margin: 0;
        z-index: 2;
    }

    &__item {
        padding: 10px;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            background: rgba($main, 0.2);
        }
    }

    &.open {
        .custom-select__list {
            display: block;
            border-radius: 0 0 12px 12px;
        }

        .custom-select__current {
            border-radius: 12px 12px 0 0;

            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}


.card-horizontal {
    &__massive {
        height: 460px;
        position: relative;
    }

    &__minis {
        margin-top: 15px;

        &:has(.swiper-slide-thumb-active) {
            .swiper-slide-thumb-active {
                &::after {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        .swiper-slide {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: rgba(255, 255, 255, 0.46);
                transition: all 0.1s;
            }
        }


    }

    &__img {
        height: 100%;
        border-radius: 15px;
        width: 100%;
        object-fit: cover;
    }

    &__imgs {
        width: 100%;
        height: 75px;
        border-radius: 10px;
        object-fit: cover;
    }
}

.card-vertical {
    &__view {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 26px;
    }

    &__minis {
        .swiper-slide {
            width: 100px !important;
            height: 100px !important;
        }

        &:has(.swiper-slide-thumb-active) {
            .swiper-slide-thumb-active {
                &::after {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        .swiper-slide {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: rgba(255, 255, 255, 0.46);
                transition: all 0.1s;
            }
        }

        &-img {
            height: 100%;
            width: 100%;
            border-radius: 30px;
            object-fit: cover;
        }
    }

    &__main {
        width: 100%;

        &-img {
            width: 100%;
            height: 700px;
            object-fit: cover;
            border-radius: 30px;
        }
    }
}

.holder{
    position: relative;
    z-index: 1;
    .arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1; 
        &--left{
            left: 0;
        }

        &--right{
            right: 0;
        }
    }
}

.animblock-image {
    overflow: hidden;
}

.animblock-imagebg {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 150% 150%;
    background-position: center;
    -webkit-transition: 1.2s ease-in-out;
    -o-transition: 1.2s ease-in-out;
    transition: 1.2s ease-in-out;
    position: relative;
    z-index: 1;
    pointer-events: none;
}

.anim.active.animblock-imagebg,
.anim2.active.animblock-imagebg {
    background-size: 100% 100%;
}

.animblock-title {
    overflow: hidden;
}

.animblock-title>* {
    -webkit-transform: translateY(105%);
    -ms-transform: translateY(105%);
    transform: translateY(105%);
    -webkit-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
}

.anim.active.animblock-title>*,
.anim2.active.animblock-title>* {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.animblock-opacity {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: 1.2s ease-in-out;
    -o-transition: 1.2s ease-in-out;
    transition: 1.2s ease-in-out;
}

.anim.active.animblock-opacity {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.animblock-up>* {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
    -webkit-transition: 1.2s ease-in-out;
    -o-transition: 1.2s ease-in-out;
    transition: 1.2s ease-in-out;
}

.anim.active.animblock-up>* {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.animblock-left {
    overflow: hidden;
}

.animblock-left>* {
    -webkit-transform: translate(-105%, 0);
    -ms-transform: translate(-105%, 0);
    transform: translate(-105%, 0);
    -webkit-transition: 1.2s ease-in-out;
    -o-transition: 1.2s ease-in-out;
    transition: 1.2s ease-in-out;
}

.anim.active.animblock-left>* {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.animblock-right {
    overflow: hidden;
}

.animblock-right>* {
    -webkit-transform: translate(105%, 0);
    -ms-transform: translate(105%, 0);
    transform: translate(105%, 0);
    -webkit-transition: 1.2s ease-in-out;
    -o-transition: 1.2s ease-in-out;
    transition: 1.2s ease-in-out;
}

.anim.active.animblock-right>* {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.animblock-pop {
    transform-origin: bottom;
    transform: scaleY(0);
    opacity: 0;
    transition: 1s ease-in-out;
}

.anim.active.animblock-pop {
    transform: scaleY(1);
    opacity: 1;
}


.animblock-bottom {
    overflow: hidden;
}

.animblock-bottom>* {
    transform: translateY(105%);
    transition: 1.2s ease-in-out;
}

.anim.active.animblock-bottom>* {
    transform: translateY(0);
}


// .pagination {
//     display: flex;
//     align-items: center;
//     gap: 13px;
//     margin-top: 55px;
//     display: flex;
//     font-size: 20px;
//     font-weight: 600;
//     color: $grey;
//     .page-numbers {
//         display: flex;
//         gap: 10px;
//         svg{
//             height: 12px;
//             width: 12px;
//         }
//         .current,
//         li {
//             height: 55px;
//             width: 55px;
//             border-radius: 8px;
//             transition: all 0.2s;
//             @extend %center;
//             background-color: transparent!important;
//             a {
//                 @extend %center;
//                 border-radius: inherit;
//                 height: 100%;
//                 width: 100%;
//             }
//         }

//         .current {
//             background-color: $main!important;
//             color: #fff;

//             svg {
//                 filter: brightness(1000%);
//             }
//         }



//         li:has(:not(.dots)) {
//             background-color: #fff;
//             @media (any-hover: hover) {
//                 &:hover {
//                     background-color: $main!important;
//                     color: #fff;

//                     svg {
//                         filter: brightness(1000%);
//                     }
//                 }
//             }

//         }

//         li:has(svg){
//             background-color: transparent!important;
//             &:hover{
//                 background-color: $main!important;
//             }
//         }

//         li:has(.dots){
//             background-color: transparent!important;

//         }
//     }
// }

// .pagination {
//     display: flex;
//     align-items: center;
//     gap: 16px;
//     justify-content: center;

//     &__item {
//         height: 50px;
//         width: 50px;
//         border-radius: 4px;
//         @extend %center;
//         background-color: transparent;
//         font-weight: 700;
//         font-size: 16px;
//         &:hover,
//         &.active {
//             background-color: $main;
//             color: #fff;

//             path {
//                 fill: #fff;
//             }
//         }
//     }
// }

// .swiper-wrapper {
//     -webkit-transition-timing-function: linear !important;
//     transition-timing-function: linear !important;
//     position: relative;
// }

// .swiper-slide {
//     width: auto;
// }
